@font-face {
    font-family: europa;
    src: url('Europa-Light.otf') format('opentype');
    /* for IE6-8*/
    src: url('Europa-Light.woff') format('woff');
    /* for modern browsers*/
}

.logo {
    z-index: 1;
    text-align: left;
    padding: 20px;
    position: absolute;
}


/* Navigation Menu - Background - https://codepen.io/anon/pen/XmmYXm*/

.navigation {
    /* critical sizing and position styles */
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
}


/* Navigation Menu - List items */

.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 15px;
    background: black;
    color: white!important;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    color: #878787!important;
    text-decoration: none;
}

.nav-item a:active {
    color: #878787;
    /* i dont know why it wont change to grey when active  */
}


/* Site Wrapper - Everything that isn't navigation */

.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    /* non-critical apperance styles */
    /*  padding: 4em;*/
    /*  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
    background-size: 200%;
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    right: 25px;
    top: 30px;
    /*    padding-right: 10px;*/
    z-index: 3;
    /* non-critical apperance styles */
    height: 5%;
    width: 5%;
    cursor: pointer;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' fill='white'/><rect y='24' width='30' height='6' fill='white'/><rect y='12' width='30' height='6' fill='white'/></svg>");
    background-size: contain;
}


/* Make the Magic Happen */

.nav-trigger + label,
.site-wrap {
    transition: left 0.2s;
}

.nav-trigger + label {
    right: 15px;
    transition: right 0.2s;
}

.nav-trigger:checked + label {
    right: 215px;
}

.nav-trigger:checked ~ .navigation {
    border: 4px solid red;
}

.nav-trigger:checked ~ .site-wrap {
    left: -200px;
    box-shadow: black;
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}


/* Additional non-critical styles */


/*
h1,
h3,
p {
    max-width: 600px;
    margin: 0 auto 1em;
}
*/

code {
    padding: 2px;
    background: #ddd;
}


/* Micro reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: europa, sans-serif!important;
    font-style: normal;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width:100%;
    /*
    
    filter: url(#pictureFilter);
    opacity:0.9;
    filter: blur(1px);
    
*/
}

.head-text {
    padding-top: 27%;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    font-family:europa;
}

.container {
    text-align: left;
    width: 100%;
    margin-top: 28%;
}


.home-page {
    text-indent: 50px;
    text-align:left;
    font-family:europa;
}
/*
.desc{
    text-indent:30px;
    text-align:left;
    letter-spacing: 10px;
}
*/

p {
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    text-align: center;
    font-family:europa;
}

.social {
    background: #878787;
    text-align: center;
    padding: 10px;
    
}

.social a {
    border: 7px solid #878787;
}

.footer {
    text-align: center;
    background-color: black;
    position: absolute;
    padding: 2%;
    width: 100%;
    text-decoration: none;
    color:white;
}

/*
a:link,
a:visited {
    color: white;
    text-decoration: none;
    
}

a:hover,
a:active {
    color: #878787;
    text-decoration: none;
}
*/

/*
.foot{
    max-width:680px;
}
*/
.foot .foot-text{
    padding:10px;
    margin:10px;
    color:white;
    
}

.foot-text a:link, a:visited{
    color:#878787;
    text-decoration:none;
}
.foot-text a:hover, a:active{
    color:white;
    text-decoration: none;
}



.img {
    width: 100%;
    padding: 10px;
}

/* LOADING SCREEN  http://bradsknutson.com/blog/display-loading-image-while-page-loads/ */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

/*end of loading screen*/



/*

#btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#btn:focus, #btn:active:focus, #btn.active:focus {
    outline: 0 none;
}

#btn-primary {
    background: #0099cc;
    color: #ffffff;
}
#btn-primary:hover, #btn-primary:focus, #btn-primary:active, #btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
#btn-primary:active, #btn-primary.active {
    background: #007299;
    box-shadow: none;
}
*/

/* for custom height/width for responsive pics using bootstrap - LOAD CUSTOM CSS AFTER BOOTSTRAP CSS TO OVERRIDE */
.img-responsive{
    height:250px;
    width:359px;
}
